@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0, 0% 0%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 210 100% 52%;
    --primary-foreground: 0 0% 100%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 7 100% 69%;
    --destructive-foreground: 0 0% 100%;

    --info: 210 100% 52%;
    --info-foreground: 0 0% 100%;

    --success: 135 63% 51%;
    --success-foreground: 0 0% 100%;

    --warning: 40 14.3% 4.1%;
    --warning-foreground: 0 0% 100%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;

    --radius: 0.5rem;
  }

  .dark:root {
    --background: 0 0% 0%;
    --foreground: 60 9.1% 97.8%;

    --card: 240 3% 11%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 240 3% 11%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 210 100% 52%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 22%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 0 0% 22%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 240 3% 11%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 7 100% 69%;
    --destructive-foreground: 0 0% 100%;

    --info: 210 100% 52%;
    --info-foreground: 0 0% 100%;

    --success: 135 63% 51%;
    --success-foreground: 0 0% 100%;

    --warning: 40 14.3% 4.1%;
    --warning-foreground: 0 0% 100%;

    --border: 0 0% 22%;
    --input: 0 0% 22%;
    --ring: 24 5.7% 82.9%;
  }
}
